<%- include("partials/header.ejs") %>

<% if(posts && posts.length > 0){ %> 
    <h1>Your Posts</h1>
    <% posts.forEach(post => { %>
    <div class="Post">
        <h2>
            <%= post.title %>
        </h2>
        <p class="text-post">
            <%= post.content %>
        </p>
        <div class="icon-container">
            <input type="hidden" name="titlePost" value="<%= post.title %>">
            <input type="hidden" name="textPost" value="<%= post.content %>">
            <form action="/edit/<%= post.id %>" method="GET" style="display:inline;">
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                    <i class="bi bi-pencil"></i> 
                </button>
            </form>
            <form action="/delete" method="POST" style="display:inline;">
                <input type="hidden" name="postId" value="<%= post.id %>">
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                    <i class="bi bi-trash"></i>
                </button>
            </form>
        </div>
    </div>
    <% }); %>
<% } else { %>
    <div class="centerd-container">
        <h1>Here will be displayed all your posts</h1>
    </div>
<% } %>

<%- include("partials/footer.ejs")  %>